.text {
  accent-color: var(--color-font); // no funciona
  text-align: left;
}

.text--color {
  color: white;
}

.text--fontS {
  font-size: 9px;
  letter-spacing: 1.29px;
}

.text--fontM {
  font-size: 18px;
  letter-spacing: 2.2px;
}

.text--red {
  color: red;
}
